<label class='toggle text-base-content'>
    <input type='checkbox' value='acid' class='theme-controller' />

    <i data-feather='moon' class='w-5'></i>
    <i data-feather='sun' class='w-5'></i>
</label>
