---
import { MoonIcon, SunIcon } from 'astro-feather'
---

<label class='toggle text-base-content'>
    <input type='checkbox' value='acid' class='theme-controller' />

    <MoonIcon width={17} />
    <SunIcon width={17} />
</label>
