---
import type PageSections from '@/interfaces/PageSections'
import { __ } from '@config/i18n'

interface Props extends PageSections {
    classList?: string
}

const { lang, classList = 'grid-cols-1 md:grid-cols-2 md:px-4 lg:px-12 xl:px-24' } =
    Astro.props as Props
---

<article class={classList}>
    {
        __('about-paragraphs', { lng: lang, returnObjects: true }).map((paragraph: string) => (
            <p>{paragraph}</p>
        ))
    }
</article>
