---
import EducationImplementer from '@/implementers/EducationImplementer'
import type PageSections from '@/interfaces/PageSections'
import EducationCard from '@components/card/EducationCard.astro'

interface Props extends PageSections {
    classList?: string
}

const { lang, classList = 'mb-12 md:-mx-6' } = Astro.props as Props
const educationData = new EducationImplementer(lang)
const educations = await educationData.getAllEducations()
---

<section class={classList} aria-labelledby='education-heading'>
    {educations.map((education) => <EducationCard lang={lang} education={education} />)}
</section>
