---
import type PageSections from '@/interfaces/PageSections'
import ProjectCard from '@components/card/ProjectCard.astro'
import ProjectImplementer from '@/implementers/ProjectImplementer'
import { __ } from '@config/i18n'

interface Props extends PageSections {
    classList?: string
    id?: string
}

const { lang, classList = 'md:-mx-6', id } = Astro.props as Props
const projectImplementer = new ProjectImplementer(lang)
const projects = await projectImplementer.getAllProjects()
---

<section id={id} class={classList} aria-labelledby='projects-heading'>
    <div class='divider py-10'>
        <h3 id='projects-heading'>{__('sections.projects.title', { lng: lang })}</h3>
    </div>
    <div class='flex flex-col gap-6'>
        {projects.map((project) => <ProjectCard lang={lang} project={project} />)}
    </div>
</section>
