---
import type PageSections from '@/interfaces/PageSections'
import { __ } from '@config/i18n'

interface Props extends PageSections {}

const { lang } = Astro.props as Props
const heading = __('sections.education.title', { lng: lang })
---

<article
    class='card card-side hover:bg-neutral-content/5 mb-6 transition hover:shadow-md'
    aria-labelledby='education-card-heading'
>
    <div class='card-body'>
        <h3 class='card-title' id='education-card-heading'>{heading}</h3>
    </div>
</article>
