---
import { BookOpenIcon } from 'astro-feather'

interface Props {
    logoUrl?: string
    institution?: string
    classList?: string
}

const { logoUrl, institution, classList } = Astro.props
---

{
    logoUrl ? (
        <img
            src={logoUrl}
            alt={`${institution} logo`}
            class:list={['max-h-16 object-contain', classList]}
        />
    ) : (
        <div
            class:list={[
                'bg-info/10 flex h-16 w-16 items-center justify-center rounded-md',
                classList,
            ]}
        >
            <BookOpenIcon />
        </div>
    )
}
