---
import type PageSections from '@/interfaces/PageSections'

interface Props extends PageSections {}

const { lang } = Astro.props
---

<article class='card card-side'>
    <h1>Probar</h1>
</article>
