---
import type PageSections from '@/interfaces/PageSections'

interface Props extends PageSections {}

const { lang } = Astro.props
---

<nav aria-label='Main Navigation' class='mt-10 xl:mt-12'>navegacio</nav>
