---
import MainLayout from '@layouts/MainLayout.astro'
import '../styles/global.css'
import Resume from '@/page-sections/Resume.astro'

const lang = 'es'
---

<MainLayout bodyClasses='pt-16'>
    <div class='md:gird-cols-5 container grid grid-cols-1'>
        <Resume lang={lang} />
    </div>
</MainLayout>
