---
import MainLayout from '@layouts/MainLayout.astro'
import '../styles/global.css'
import __ from '@config/i18n'
---

<MainLayout bodyClasses='pt-16'>
    <main class='container'>
        <h1 class='h1'>Carmine Maggio</h1>
        <h4 class='h4'>{__('systems-engineer')}.</h4>
        <h3 class='h4'>{__('full-stack-developer')}.</h3>
    </main>
</MainLayout>
