---
import type PageSections from '@/interfaces/PageSections'
import MainNavbar from '@components/navigation/MainNavbar.vue'
import Socials from '@components/navigation/Socials.astro'
import { __ } from '@config/i18n'
import { getRelativeLocaleUrl } from 'astro:i18n'

interface Props extends PageSections {
    classList?: string
}

const { lang, classList = 'md:col-span-2 relative lg:max-h-screen' } = Astro.props as Props

const homeUrl = getRelativeLocaleUrl(lang, '/')
---

<section class={classList}>
    <div class='flex h-full py-6 md:py-16 lg:fixed lg:flex-col lg:justify-between'>
        <article>
            <h1 class='h1'>Carmine Maggio</h1>
            <h4 class='h4'>{__('systems-engineer', { lng: lang })}.</h4>
            <h2 class='h4'>{__('full-stack-developer', { lng: lang })}.</h2>
            <MainNavbar lang={lang} client:idle homeUrl={homeUrl} />
        </article>
        <aside>
            <Socials />
        </aside>
    </div>
</section>
